__pycache__/
video/
.env
stream_video/
stream_videos_2/
all_cookies_new.txt
nohup.out
all_cookies.txt
transcripts.csv
gooaye/
Agentic_AI/playground.ipynb
agent_log.txt
transcribe_log.txt
analysis_results.json
